header {
  background-color: teal;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: white;
  text-align: center;

}


#tag {
  background-color: #204daf;
  padding: 6px;
  font-size: 18px;
  border: none;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
}

#tag:hover {
  background-color: #235bd4;
}