@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Readex+Pro:wght@160..700&display=swap');


* {
  font-family: "Readex Pro", sans-serif;
  box-sizing: border-box;
  font-size: 25px;
}

#flower {
  width: 200px;
  height: 100px;
}

#flower2 {
  width: 200px;
  height: 100px;
  
}

header {
  background-color: teal;
  /* padding: 20px; */
  width: 100%;
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

}

header h1 {
  color: white;
  text-align: center;

}


#tag {
  background-color: purple;
  padding: 6px;
  font-size: 18px;
  border: none;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.4);
  text-align: center;
  color: white;
}

#tag:hover {
  background-color: #d423bc;
}